node_modules/
vendor/
docker/
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
.phpunit.cache/
.env
.git/
.editorconfig
.gitignore
.dockerignore
database/*.sqlite
database/*.sqlite-journal
tests/
phpunit.xml
composer.lock
package-lock.json
